<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pinPaymentsApi" type="PinPayments.Config.PinPaymentsApiSection, PinPayments" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  <pinPaymentsApi>
    <server baseUrl="https://test-api.pin.net.au" />
  </pinPaymentsApi>
</configuration>